/* Styling the root element of the document with global fonts, including colours*/
:root{
    --light: #eeeee4;
    --dark:#31343d;
    --blue: #92cccd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Sets the border box to allow padding and border to an elements total width and height*/
* {
    box-sizing: border-box;
}

/* Adds layout and styling to the body section*/
body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: var(--light);
    padding: 0;
    margin: 0;
}

/* Adds background colour to the header*/
.header {
    background-color: var(--dark);
}

/* Changes the header layout */
.header div {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* Display for heading 1 and font size is set */
.header h1 {
    display: inline-block;
    font-size: 30px;
    background-color: var(--blue);
    color: var(--dark);
    width: 250px;
    text-align: center;
    padding: 5px 10px 5px 15px;
}

/* Layout for nav is changed*/
nav {
    display: flex;
    justify-content: flex-end;
}

/* Adds the nav items styling */
.header div ul {
    color: var(--blue);
    list-style-type: none;
}

/* Changes the layout and adds a margin*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Changes the font size and colour*/
  a {
    color: var(--blue);
    font-size: 20px;
    text-align: center;
}

/* Creates the main as a flex container*/
main {
    display: flex;
    flex-wrap: wrap;
}

/* Container holding the image and the text */
.container_1 {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  margin: 0%;
  float: right;
  text-align: left;
}

/* Bottom right text of subtitle */
.bottom-right {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

/* Sets the font size, colour and background colour */
 h2{
  font-size: 20px;
  color: var(--dark);
  background-color: var(--blue);
  padding: 5px;
}

/* Adding colour and size to heading 3*/
h3 {
    color: var(--dark);
    font-size: 30px;
    text-align: right;
    margin: 0;
}

/* Sets the format of the about me heading*/
.headline_1{
    clear: both;
    float: left;
    width: 150px;
    height: 150px;
    text-align: right;
    margin-top: 20px;
    padding: 20px 20px 20px 0px;
    border-right: solid 3px var(--dark);
}

/* Creates the styling of the about main text*/
 .main_1 {
    float: left;
    width: 70%;
    min-height: 0px;
    vertical-align: top;
    text-align: justify;  
    margin: 0%;
    padding: 0px 10px 10px 10px;
}

/* Creates the area for the profile photo*/
.right_1 {
    float: left;
    width: 20%;
    min-height: 100px;
    text-align: right;  
    margin: 0%;
    padding: 10px 10px 10px 10px;
    justify-content: right;
}

/* Sets the format of the work heading*/
.headline_2{
    clear: both;
    float: left;
    width: 150px;
    height: 150px;
    text-align: right;
    margin: 0;
    padding: 20px 20px 20px 0px;
    border-right: solid 3px var(--dark);
}

/* Creates the styling of the about main text*/
.main_2 {
    float: left;
    width: 90%;
    min-height: 0px;
    vertical-align: top;
    text-align: justify;  
    margin: 0%;
    padding: 0px 10px 10px 10px;
    overflow: hidden;
}

/* Add styling and layout to the contact heading*/
.headline_3{
    clear: both;
    float: left;
    width: 150px;
    height: 150px;
    text-align: right;
    margin: 0;
    padding: 20px 20px 20px 0px;
    border-right: solid 3px var(--dark);
}

/* Add styling and layout to the contact details*/
.main_3 {
    float: left;
    display: inline;
    width: 300px;
    margin-top: 20px;
    border: 1px turquoise;
    padding: 10px;
    color: var(--dark);
}

/* Adds the dark blue colour to the fonts*/
.main_3 a{
    color: var(--dark);
}

/* Styles the project examples*/
.project{
    flex: 1;
    padding: 20px 20px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 2 600px;
}

/* Adds styling tp the project image titles*/
.project-title{
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    float: left;
    text-align: left;
}

/* Bottom right text */
.bottom-left {
    position: absolute;
    left: 0%;
    bottom: 10%;
    background-color: var(--blue);
    color: var(--dark);
    margin: 0;
}

/* Adds styling and colour to the font for H4*/
h4 {
    color: var(--dark);
    font-size: 20px;
    text-align: left;
    margin: 0;
    padding: 0px 10px 0px 10px;
}

/* Adds styling and colour to the font for H5*/
 h5 {
    color: var(--dark);
    font-size: 15px;
    text-align: left;
    margin: 0; 
    padding: 0px 10px 0px 10px;
}

/* Adds a border and width of the project images*/
 .project img{
    border: #92cccd 5px solid;
    width: 100%;
    margin: 0px;
    opacity: 0.8;
    transition: 0.3s;
    flex: 1 1 100%;
}

/* Creates the hover over the project images*/
 .project img:hover{
     opacity: 1
}

/* Adds flex styling to the project one image*/
 .main-image{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex: 1 1 100%;
}

/* Hides the footer section*/
  footer{
      display: none;
}

 @media only screen and (max-width:800px) {
    /* For tablets: */
    .main_1 {
      width: 80%;
      padding: 0;
    }
    .right_1 {
      width: 100%;
    }
    .main_2 {
        width: 80%;
        padding-right: 0;
      }
      .right_2 {
        width: 100%;
      }
  }

  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .headline_1, .main_1, .right_1 {
      width: 80%;
    }
    .headline_2, .main_2{
        width: 100%;
        padding-right: 20px;
  }
}


